﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simple_GMail_View_Send_Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/material-dashboard.css" />
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
    <link href="~/css/mvc-grid.css" rel="stylesheet">
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body class="dark-edition ">
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand col-6 text-left" asp-area="" asp-controller="Home" asp-action="Index"> Simple GMail Client </a>


                

                @User.Identity.Name


                <ul class="navbar-nav ">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item active ">
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item active">
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }

                </ul>


            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">

            <div>
                <div class="sidebar" data-color="purple" data-background-color="black" data-image="~/img/sidebar-2.jpg">
                    <div class="logo">
                        <a class="simple-text logo-normal">
                            Menu
                        </a>
                    </div>
                    <div class="sidebar-wrapper">
                        <ul class="nav">
                            <li class="nav-item   active">
                                <a class="nav-link " asp-area="" asp-controller="Gmail" asp-action="GoToSendEmail">
                                    <p>New Email</p>
                                </a>
                            </li>
                            <br />
                            <br />
                            <br />
                            <li class="nav-item   ">
                                <a class="nav-link" asp-area="" asp-controller="Gmail" asp-action="GetListEmail" asp-route-LabelId="INBOX" asp-route-nameLabel="Received">
                                    <p>Received</p>
                                </a>
                            </li>
                            <li class="nav-item   ">
                                <a class="nav-link" asp-area="" asp-controller="Gmail" asp-action="GetListEmail" asp-route-LabelId="SENT" asp-route-nameLabel="Sent">
                                    <p>Sent</p>
                                </a>
                            </li>
                            <li class="nav-item   ">
                                <a class="nav-link" asp-area="" asp-controller="Gmail" asp-action="GetListEmail" asp-route-LabelId="UNREAD" asp-route-nameLabel="Unread">
                                    <p>Unread</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
