﻿
@{
    ViewData["Title"] = "SendEmailView";
}
@model string
<div class="container">



    @using (Html.BeginForm("SendEmail", "Gmail", FormMethod.Post))
    {
        <label for="subject">Subject:</label>
        <input required type="text" class="form-control" name="subject" id="subject" />

        <label for="subject">To:</label>
        <input required type="email" class="form-control" name="toEmail" id="toEmail" />
        <br />

        <textarea id="body" name="body">
    
</textarea>
        <br />
        <input type="submit" class="btn btn-primary" value="Send Email" />

    }


</div>

@if (Model !="")
{
    <script>

    var EmailId = '@Model' ;
  
        
        $(new Object()).load('https://localhost:44399/Gmail/GetEmailContent?EmailId=' + EmailId, function(data){
     CKEDITOR.instances['body'].setData(data);
});    
    
    
    </script>
}



<script>

    CKEDITOR.replace('body');

</script>